html, body, #viewDiv {
    padding: 0px;
    margin: 0;
    height: 100%;
    width: 100%;
}

#layerToggle {
    top: 20px;
    right: 20px;
    position: absolute;
    z-index: 99;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    opacity: 0.75;
  }

  #layerTogglePib {
    top: 70px;
    right: 20px;
    position: absolute;
    z-index: 99;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    opacity: 0.75;
  }

  #layerTogglePopulacao {
    top: 120px;
    right: 20px;
    position: absolute;
    z-index: 99;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    opacity: 0.75;
  }